<% include partials/header %>
	<h1><%= title %></h1>
	<form method="POST" action="/list"> 
		<label> list </label><br>
		<input type="text" name="list" <br><br>>
		<br>
		<input type="submit" value="Submit">
	</form>
	<ul>
	<% ppl.forEach(function(p){   %>
			<li><%= p.id %> </li>
	<% })%>
	</ul>

<% include partials/footer %>