<% include partials/header %>
 	<h1><%= title %></h1>
 	
	<form method="POST" action="/list"> 
		<label> list </label><br>
		<textarea name="message" rows="10" cols="30">put your list here</textarea>
		<br>
  		<input type="submit">
	</form>

	

<% include partials/footer %>