<% include partials/header %>
        
    <div class="message">
        <div class="text">
            <h1>Cards</h1>
            <h2><%= list %></h2>
                       	<% images.forEach(function(url){ %>
					<br>
   					<tr> 
     					<img src= <%- url %>>
     				</tr>
     				</br>
				<% }) %>


        </div>
    </div>

<% include partials/footer %>
