<% include partials/header %>
        
    <div class="message">
        <div class="text">
            <h1>Cards</h1>
            <h2><%= list %></h2>
            <h2><%= name %></h2>
             <ul>
    			
        			<li><img src=<%- cardlist %>></li>
    			
			</ul> 
        </div>
    </div>

<% include partials/footer %>
